@import url("https://fonts.googleapis.com/css?family=Arvo|Open+Sans");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem; }

hr {
  border-width: 0;
  height: 1px;
  margin: 0 auto;
  width: 100%; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.content {
  height: 100%;
  margin: 0 auto;
  padding: 1rem; }

.tile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tile {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
  padding: 2rem;
  position: relative;
  width: 100%; }

.modal-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10; }
  .modal-overlay * {
    z-index: 11; }

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%; }
  .modal-content > div {
    display: inline-block;
    position: relative; }
  .modal-content img {
    height: auto;
    max-height: 80vh;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    width: auto; }

.content-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1; }

.bg-overlay {
  content: ' ';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.modal-close {
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem; }

.body-image {
  height: auto;
  margin: 2rem 0;
  max-height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }

.bg-image {
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%; }

.body-text {
  margin-bottom: auto; }

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid;
  bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  position: relative;
  width: 100%; }

.fg-white {
  color: white;
  fill: white; }

.bg-white {
  background-color: white; }

.fg-black {
  color: black;
  fill: black; }

.bg-black {
  background-color: black; }

a {
  color: inherit; }

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8); }

.modal-close {
  background-color: rgba(0, 0, 0, 0.8); }

.body-image {
  -webkit-box-shadow: 0 1rem 0.75rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 0.75rem rgba(0, 0, 0, 0.4); }

hr {
  background-color: black; }

.btn {
  border-color: black; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arvo", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize; }

h1 {
  font-weight: 700; }

h2 {
  font-size: 1.8rem; }

a {
  text-decoration: none; }

.btn {
  font-family: "Arvo", "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 600; }

.text-center {
  text-align: center; }

.tile {
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out; }

.btn {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .btn:hover {
    -webkit-box-shadow: 0 1rem 0.75rem rgba(0, 0, 0, 0.4);
            box-shadow: 0 1rem 0.75rem rgba(0, 0, 0, 0.4);
    bottom: .1rem;
    text-decoration: none; }

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  a:hover {
    text-decoration: none; }

.modal-overlay {
  -webkit-transition: visibility .125s ease-out;
  transition: visibility .125s ease-out; }

.no-scroll {
  height: 100%;
  overflow: hidden; }

@media (min-width: 768px) {
  .tile {
    width: 49%; } }

@media (min-width: 1024px) {
  .tile {
    width: 32%; } }

@media (min-width: 1440px) {
  .tile {
    width: 24%; } }
